Repository jenkins-x-plugins/jx-preview, pull requests merged in 2022-06, with the labels that each got.

#370 check all service names
  pkg/cmd/create/create.go
  pkg/cmd/create/create_test.go
Labels: approved, size/S, ok-to-test

#373 fix: linting issues
  .golangci.yml
  .lighthouse/jenkins-x/lint.yaml
  .lighthouse/jenkins-x/triggers.yaml
  cmd/app/main-win.go
  cmd/app/main.go
  cmd/schemagen/main.go
  docs/cmd/jx-preview_create.md
  docs/man/man1/jx-preview-create.1
  go.mod
  go.sum
  hack/linter.sh
  pkg/apis/preview/v1alpha1/zz_generated.deepcopy.go
  pkg/cmd/create/create.go
  pkg/cmd/create/create_test.go
  pkg/cmd/destroy/destroy.go
  pkg/cmd/gc/gc.go
  pkg/cmd/gc/gc_test.go
  pkg/cmd/get/get.go
  pkg/cmd/template/template.go
  pkg/kserving/kservices.go
  pkg/previews/jx_values.go
  pkg/previews/previews.go
  pkg/previews/sort.go
Labels: size/L, approved, ok-to-test

#375 Should search for other services if one service returns error
  pkg/cmd/create/create.go
Labels: size/XS, approved, ok-to-test

#377 refactor: upgrade golang ci lint to 1.46.2
  cmd/docs/main.go
  hack/install_golint.sh
  hack/linter.sh
  pkg/cmd/create/create.go
Labels: size/L, approved
